.usersWrapper button {
    margin: right auto;
    margin-right: 0;
    font-size: 0.8em;
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;
    top: 0px;
    outline: none;
    padding: 2px;
}

.usersWrapper img {
    border-radius: 50%;
    height: 10%;
    width: 15%;
}
