.wrapper{
    margin-top: 15px;
    width: 108%;
    height: 100%;
}
.dialogWindow {
    grid-area: w;
}
.writtingItems{
    bottom: 0;
    display: flex;
    height: 15%;
    width: 92%;
    padding-left: 100;

}
.textarea{
  
    resize: none;
    width: 93%;
    height: 100%;
    margin: 0;
}
button{
    margin-left: 3%;
}