.headPic {
    text-align: center;
}
.infowrapper {
    display: flex;
    }
    
.headPic img {
width: 100%;
height: 9em;
}
.avatar  {
    height: 20%;
    width: 17%;
   
}
.avatar img {
    height: 100%;
    width: 100%;
}
.descriptionWrapper {
    width: 100%;
    margin-left: 5%;
}
.job{
    font-style: italic;
}
.editbutton{
    float: right;
    opacity: 0.6;
    border: 1px solid black;
}
.editbutton:hover{
    opacity: 1;
    border: 1px solid black;
}