.header {
    grid-area: header;
    background: #32CD32;
    width: 100%;
    
}
.header img {
    width: 13%;
    height: 100%;
}
.item {
    cursor: grab;
}
.auth {
    display: inline;
    padding: 1em;
    float: right;
    margin-top: 2em;
    text-align: center;
    opacity: 0.5;
}
.auth:hover{
    opacity: 1;
}