.wrapper{
    text-align: center;
    margin-top: 10%;
}
.head{
    font-size: xx-large;
    font-weight: 500;
}
.inputandlabel{

}
.btn{
    margin-left: -3px;
    margin-top: 10px;
}
.error{
    color: red;
}
.captcha{
    display: block;
    margin: 0 auto;
}