.wrapper {
  margin: 0 auto;
  width: 75%;
  display: grid;
  grid-template-areas: 
  "header header"
  "navbar body";
  grid-template-rows: 8rem  min-content ;
  grid-template-columns: 3fr 10fr;
  grid-gap: 1em;
  font-family: 'Montserrat', sans-serif;
}
button{
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  background: #f0efef;
  box-shadow: none;
  border: none;
  border-radius: 4px;
  color: black;
  cursor: pointer;
}