.wrapper {
    display: flex;
    width: 600px;
}
p {
    margin: 0;
    font-size: 1.55em;
}
.dialogs {
    display: block;
}
.chatwrapper{
    border: 1px solid black;
    height: 400px;
    width: 500px;
    overflow-y: auto;
}